/* alfa-slab-one-regular - latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/alfa-slab-one-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/alfa-slab-one-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* chivo-mono-regular - latin */
@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/chivo-mono-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/chivo-mono-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Color Palettes */
:root {
  --dracula-orchid: #2c3639;
  --rocky-creek: #3f4e4f;
  --solitary-state: #c2c8c6;
  --mud-ball: #966644;
  --sassafras-tea: #dcd7c9;
  --white-chalk: #f6f5f1;
}

/* Colored Classes */
.bg-do {
  background-color: var(--dracula-orchid);
}
.bg-rc {
  background-color: var(--rocky-creek);
}
.bg-ss {
  background-color: var(--solitary-state);
}
.bg-mb {
  background-color: var(--mud-ball);
}
.bg-st {
  background-color: var(--sassafras-tea);
}
.bg-wc {
  background-color: var(--white-chalk);
}
.text-light {
  color: var(--white-chalk)
}
.text-dark {
  color: var(--dracula-orchid)
}
.border-light {
  border-color: var(--white-chalk);
}
.border-dark {
  border-color: var(--dracula-orchid);
}

/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono';
}

/* Fonts */
h1, h2, h3, h4, h5, h6, nav a  {
  font-family: 'Alfa Slab One';
}

/* Body Background */
html body {
  background-color: var(--dracula-orchid);
}

/* Links */
.inline-link {
  /* text-decoration: none; */
  /* background-color: var(--dracula-orchid); */
  /* mix-blend-mode: difference; */
  /* color: var(--white-chalk); */
  color: var(--solitary-state);
}
.inline-link:hover {
  color: var(--white-chalk)
}
.social-link {
  text-decoration: none;
  color: var(--white-chalk);
}
.social-link:hover {
  color: var(--sassafras-tea)
}


/* Badges */
.badge {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.badge-link {
  text-decoration: none;
  font-size: 1em !important;
  font-weight: 200 !important;
}
.badge-link:hover {
  color: var(--sassafras-tea)
}

/* Tooltips */
.clipboard-tooltip {
  --bs-tooltip-max-width: 200px !important;
  --bs-tooltip-bg: var(--dracula-orchid) !important;
  --bs-tooltip-color: var(--sassafras-tea) !important;  
}


/* Popovers */
.portrait-popover {
  --bs-popover-max-width: 300px !important;
  --bs-popover-header-bg: var(--dracula-orchid) !important;
  --bs-popover-header-color: var(--white-chalk) !important;
  --bs-popover-bg: var(--dracula-orchid) !important;
  --bs-popover-body-color: var(--sassafras-tea) !important;  
}


/* Cards */
.card {
  border: none !important;
}
.card-img-top {
  width: 100%;
  height: 50vh;
  /* object-fit: cover; */
  /* object-fit: contain; */
  /* background-image: url("/assets/images/haikei/low-poly-grid-haikei.svg"); */
}

/* Sections */
section {
  /* position: relative; */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hero Section */
#hero {
  background-image: url("/assets/images/haikei/layered-peaks-haikei-top.svg");
}


/* About Section */
#about {
  background-image: url("/assets/images/haikei/blob-haikei.svg");
  position: relative;
}
#about p, ul {
  color: var(--white-chalk);  
  mix-blend-mode: difference;
}

/* Filters Test */
/* #about::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #355f08;
  mix-blend-mode: multiply;
} */


/* Projects Section */
#projects {
  background-image: url("/assets/images/haikei/blob-scene-haikei.svg");
}
#projects p {
  color: var(--white-chalk);  
  mix-blend-mode: difference;
}
#projects .card-text {
  font-size: 0.8em;
}
#projects .card-footer {
  background-color: var(--solitary-state) !important;
}
#projects .card-footer .badge {
  background-color: var(--dracula-orchid);
}


/* Contact Section */
#contact {
  background-image: url("/assets/images/haikei/blob-scatter-haikei.svg");
}
#contact span {
  mix-blend-mode: difference;
}